.header {
  background-color: var(--white-color);

  &__top {
    padding: 20px 0;
  }

  &__bottom {
    border: 1px solid var(--gray-ui-color);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    .nav__list {
      display: flex;
      gap: 57px;
    }
  }

  &__wrapper-button {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

.nav {
  &__link {
    font-family: 'Muller';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var( --text-black-color);
  }
}

.button-search {
  &__svg {
    width: 24px;
    height: 24px;
  }
}

.button-enter {
  padding: 12px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  border: 2px solid #121723;
  border-radius: 77px;
}

.header-bottom {
  &__list {
    display: flex;
    align-items: center;
    gap: 52px;
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var( --text-black-color);
  }

  &__svg {
    width: 46px;
    height: 60px;
  }
}

.list-live {
    display: flex;
    align-items: center;


  &__item {
    padding-left: 12px;
    padding-right: 42px;
    display: flex;
    align-items: center;
  }

  &__item:first-child {
    border-left: 1px solid var(--gray-ui-color);
    border-right: 1px solid var(--gray-ui-color);
  }

  &__item:last-child {
    border-right: 1px solid var(--gray-ui-color);
  }

  &__button {
    margin-right: 10px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: var(--text-gray-color);
  }

  &__song-name {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var( --text-black-color);
  }
}

.btn-play {
  &__svg {
    width: 20px;
    height: 20px;
  }
}


