.hero {
  background-color: var(--white-color);

  &__container {
    background-image: url(../img/hero-bg-1920.webp), url(../img/hero-bg-1920.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 85%;
  }


  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 55%;
  }

  &__title {
    margin: 0;
    margin-bottom: 14px;
  }

  &__descr {
    margin: 0;
    margin-bottom: 45px;
  }

  &__btn {
    max-width: 245px;
    color: var(--white-color);
    background: var(--violet-medium-color);
  }

}

.hero-title {
  font-size: 60px;
  line-height: 100%;

  &__part1 {
    font-weight: 700;
  }

  &__part2 {
    font-weight: 400;
  }
}

.hero-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

