.projects {
  padding: 68px 0 52px;

  &__title {
    margin: 0;
    margin-bottom: 11px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 13px;
  }

  &__article-1,
  &__article-2,
  &__article-3 {
    grid-column: 2 span;
  }

  &__article-4 {
    grid-column: 6 span;
  }

  &__article-5 {
    grid-column: 6 span;
  }

  &__article-6,
  &__article-7 {
    grid-column: 3 span;
  }
}


.projects-item {
  position: relative;
  display: flex;
  flex-direction: column;

  &__heading {
    margin: 0;
    margin-bottom: 8px;
    font-family: "TTFirsNeue";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: var(--white-color);
  }

  &__descr {
    margin: 0;
    margin-bottom: 14px;
  }

  &__time {
    padding-left: 17px;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: var(--gray-color);
    background: url(../img/calendar-icon.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: left 3px;
  }


  &__btn {
    padding: 14px 0;
    max-width: 120px;
    border: 3px solid var(--orange-color);
    background: transparent;
    transition: 0.3s ease-in-out;

    &:focus-visible {
      outline:  3px solid var(--orange-color);
      background-color: var(--orange-medium-color);
    }

    &:hover {
      background-color: var(--orange-color);
    }

    &:active {
      outline: none;
      border-color: var(--orange-dark-color);
      background-color: var(--orange-dark-color);
    }
  }


  &__wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 22px;
    left: 30px;
    bottom: 30px;
    width: 40%;

    & time {
      color: var(--white-color);
      background: url(../img/calendar-icon-white.svg);
      background-repeat: no-repeat;
      background-size: 14px 14px;
      background-position: left 3px;
    }

    & .desc {
      color: var(--white-color);
      margin-bottom: 54px;
    }
  }

  &__img {
    margin-bottom: 14px;
  }


  .wrapper-oblivion {
    & .desc {
      margin-bottom: 77px;
    }
  }
}


