@mixin burger {
    --burger-width: 20px;
    --burger-height: 20px;
    --burger-line-height: 2px;

    position: relative;
    border: none;
    padding: 0;
    width: var(--burger-width);
    height: var(--burger-height);
    color: #000;
    background-color: transparent;
    cursor: pointer;
    
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: var(--burger-line-height);
      background-color: currentColor;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::before {
        top: 0;
      }
    
      &::after {
        top: calc(100% - var(--burger-line-height));
      }

      &__line {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: var(--burger-line-height);
        background-color: currentColor;
        transform: translateY(-50%);
        transition: transform 0.3s ease-in-out;
      }
    
      &--active {
        &::before {
            background: #E1670E;
            transition: background-color 0.3s ease-in-out;
        }
    
        &::after {
            width: 14px;
            // left: 12px;
            background-color: #E1670E;
            transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out, left 0.3s ease-in-out;
        }
    
        .burger__line {
            width: 17px;
            // left: 0;
            background-color: #E1670E;
            transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out, left 0.3s ease-in-out;
        }
      }
  }
  .header__nav .nav__list {
    flex-direction: column;
  }

  .header__nav .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
  }

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    padding: 14px 21px;
    background-color: var(--black-color);
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;

    &--active {
      visibility: visible;
      transform: none;
      outline: none;
    }
  }




  