<section class="about" id="about">
  <div class="about__container container">
    <div class="about__wrapper-desc">
      <h2 class="about__title title">
        О нас
      </h2>
      <p class="about__subtitle">
        Приём-приём! Как слышно? Мы уже в эфире? Отлично, поехали!
      </p>
      <p class="about__descr">
        Друзья, мы будем очень рады, если вы поможете стать нам лучше. Нам важен каждый слушатель, поэтому вы можете поделиться обратной связью о наших предеачах, темах, подборках и вообще обо всём! Это можно сделать либо написав нам в форме ниже, либо кликнув на наши соцсети в подвале сайта. Спасибо! Услышимся!:)
      </p>
    </div>
    <div class="about__wrapper-img">
      <svg class="buy-link__svg">
        <use xlink:href="img/sprite.svg#icon-spiral"></use>
      </svg>
      <svg class="buy-link__svg">
        <use xlink:href="img/sprite.svg#icon-dawn"></use>
      </svg>
    </div>
    <div class="about__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="about__article employee-article">
            <picture>
              <source type="image/webp" srcset="img/about-img-1-320.webp" media="(max-width: 320px)">
              <source type="image/webp" srcset="img/about-img-1-768.webp" media="(max-width: 768px)">
              <source type="image/webp" srcset="img/about-img-1-1920.webp">
              <source srcset="img/about-img-1-320.jpg" media="(max-width: 320px)">
              <source srcset="img/about-img-1-768.jpg" media="(max-width: 768px)">
              <img class="employee-article__img" src="img/about-img-1-1920.jpg" srcset="img/about-img-1-1920.jpg" alt="Дмитрий Гутенберг, сотрудник">
            </picture>
            <h3 class="employee-article__name">
              Дмитрий Гутенберг
            </h3>
            <p class="employee-article__descr">
              Эксперт (ну, почти) по всем вопросам (почти)
            </p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="about__article employee-article">
            <picture>
              <source type="image/webp" srcset="img/about-img-2-320.webp" media="(max-width: 320px)">
              <source type="image/webp" srcset="img/about-img-2-768.webp" media="(max-width: 768px)">
              <source type="image/webp" srcset="img/about-img-2-1920.webp">
              <source srcset="img/about-img-2-320.jpg" media="(max-width: 320px)">
              <source srcset="img/about-img-2-768.jpg" media="(max-width: 768px)">
              <img class="employee-article__img" src="img/about-img-2-1920.jpg" srcset="img/about-img-2-1920.jpg" alt="Анна Васильева, сотрудник">
            </picture>
            <h3 class="employee-article__name">
              Анна Васильева
            </h3>
            <p class="employee-article__descr">
              Как я здесь оказалась? А главное — зачем?
            </p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="about__article employee-article">
            <picture>
              <source type="image/webp" srcset="img/about-img-3-320.webp" media="(max-width: 320px)">
              <source type="image/webp" srcset="img/about-img-3-768.webp" media="(max-width: 768px)">
              <source type="image/webp" srcset="img/about-img-3-1920.webp">
              <source srcset="img/about-img-3-320.jpg" media="(max-width: 320px)">
              <source srcset="img/about-img-3-768.jpg" media="(max-width: 768px)">
              <img class="employee-article__img" src="img/about-img-3-1920.jpg" srcset="img/about-img-3-1920.jpg" alt="Пётр Дмитриевски, сотрудник">
            </picture>
            <h3 class="employee-article__name">
              Пётр Дмитриевский
            </h3>
            <p class="employee-article__descr">
              Господа! Внимание! Благодарю за внимание!
            </p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="about__article employee-article">
            <picture>
              <source type="image/webp" srcset="img/about-img-4-320.webp" media="(max-width: 320px)">
              <source type="image/webp" srcset="img/about-img-4-768.webp" media="(max-width: 768px)">
              <source type="image/webp" srcset="img/about-img-4-1920.webp">
              <source srcset="img/about-img-4-320.jpg" media="(max-width: 320px)">
              <source srcset="img/about-img-4-768.jpg" media="(max-width: 768px)">
              <img class="employee-article__img" src="img/about-img-4-1920.jpg" srcset="img/about-img-4-1920.jpg" alt="Татьяна Флеганова, сотрудник">
            </picture>
            <h3 class="employee-article__name">
              Татьяна Флеганова
            </h3>
            <p class="employee-article__descr">
              Одна я в пальто стою красивая, а вокруг…
            </p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="about__article employee-article">
            <picture>
              <source type="image/webp" srcset="img/about-img-5-320.webp" media="(max-width: 320px)">
              <source type="image/webp" srcset="img/about-img-5-768.webp" media="(max-width: 768px)">
              <source type="image/webp" srcset="img/about-img-5-1920.webp">
              <source srcset="img/about-img-5-320.jpg" media="(max-width: 320px)">
              <source srcset="img/about-img-5-768.jpg" media="(max-width: 768px)">
              <img class="employee-article__img" src="img/about-img-5-1920.jpg" srcset="img/about-img-5-1920.jpg" alt="Фёдор Прокопьев, сотрудник">
            </picture>
            <h3 class="employee-article__name">
              Фёдор Прокопьев
            </h3>
            <p class="employee-article__descr">
              Привет! Я фотограф, музыкант, ведущий
            </p>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="about__article employee-article">
            <picture>
              <source type="image/webp" srcset="img/about-img-6-320.webp" media="(max-width: 320px)">
              <source type="image/webp" srcset="img/about-img-6-768.webp" media="(max-width: 768px)">
              <source type="image/webp" srcset="img/about-img-6-1920.webp">
              <source srcset="img/about-img-6-320.jpg" media="(max-width: 320px)">
              <source srcset="img/about-img-6-768.jpg" media="(max-width: 768px)">
              <img class="employee-article__img" src="img/about-img-6-1920.jpg" srcset="img/about-img-6-1920.jpg" alt="Светлана Кортнева, сотрудник">
            </picture>
            <h3 class="employee-article__name">
              Светлана Кортнева
            </h3>
            <p class="employee-article__descr">
              Художник-оформитель. Оформляю
            </p>
          </article>
        </div>
      </div>
    </div>
    <div class="about__wrapper-form">
      <form action="#" class="about__form feedback-form">
        <textarea class="feedback-form__textarea"></textarea>
        <label class="feedback-form__label">
          <input type="text" class="feedback-form__input input-reset">
        </label>
        <label class="feedback-form__label">
          <input type="email" class="feedback-form__input input-reset">
        </label>
        <button class="feedback-form__btn btn-reset btn">
          Отправить
        </button>
        <label class="feedback-form__label">
          <input type="checkbox" class="feedback-form__checkbox input-reset">
          <span class="feedback-form__checkbox-text" >Согласен на обработку персональных данных</span>
        </label>
      </form>
    </div>

  </div>
</section>
