<section class="broadcasts" id="broadcasts">
  <div class="broadcasts__container container">
    <div class="broadcasts__wrapper">
      <h2 class="broadcasts__title title">
        Передачи
      </h2>
      <form action="#" class="broadcasts__form form-author">
        <h4 class="form-author__heading">
          Автор:
        </h4>
        <select name="broadcats-author" class="broadcasts__select">
          <option value="Дмитрий Гутенберг">Дмитрий Гутенберг</option>
          <option value="Татьяна Флеганова">Татьяна Флеганова</option>
          <option value="Анна Васильева">Анна Васильева</option>
          <option value="Пётр Дмитриевский">Пётр Дмитриевский</option>
        </select>
      </form>
      <div class="broadcasts__archive archive">
        <picture>
          <source type="image/webp" srcset="img/broadcasts-microphone-img-320.webp" media="(max-width: 320px)">
          <source type="image/webp" srcset="img/broadcasts-microphone-img-768.webp" media="(max-width: 768px)">
          <source type="image/webp" srcset="img/broadcasts-microphone-img-1920.webp">
          <source srcset="img/broadcasts-microphone-img-320.jpg" media="(max-width: 320px)">
          <source srcset="img/broadcasts-microphone-img-768.jpg" media="(max-width: 768px)">
          <img aria-label="presentation" class="archive__img" src="img/broadcasts-microphone-img-1920.jpg" srcset="img/broadcasts-microphone-img-1920.jpg" alt="Картинка Микрофона">
        </picture>
        <a href="#" class="archive__link">
          Архив
        </a>
        <p class="archive__descr">
          В архив попадают все передачи, которые вы пропустили! Enjoy:)
        </p>
      </div>
    </div>
    <ul class="broadcatst__list broadcasts-list list-reset">
      <li class="broadcasts-list__item">
        <picture>
          <source type="image/webp" srcset="img/broadcasts-img-1-320.webp" media="(max-width: 320px)">
          <source type="image/webp" srcset="img/broadcasts-img-1-1920.webp">
          <source srcset="img/broadcasts-img-1-320.jpg" media="(max-width: 320px)">
          <img class="archive__img" src="img/broadcasts-img-1-1920.jpg" srcset="img/broadcasts-img-1-1920.jpg" alt="Картинка к передачи 'О людях и книгах', Люди в старой бибилиотеки">
        </picture>
        <h3 class="broadcast-list__heading">
          О людях и книгах
        </h3>
        <p class="broadcast-list__descr">
          Анонсируется отдельно
        </p>
        <a href="#" class="broadcast-list__link">
          Подробнее
          <svg class="broadcast-list__link-svg">
            <use xlink:href="img/sprite.svg#icon-link-arrow"></use>
          </svg>
        </a>
      </li>
      <li class="broadcasts-list__item">
        <picture>
          <source type="image/webp" srcset="img/broadcasts-img-2-320.webp" media="(max-width: 320px)">
          <source type="image/webp" srcset="img/broadcasts-img-2-1920.webp">
          <source srcset="img/broadcasts-img-2-320.jpg" media="(max-width: 320px)">
          <img class="archive__img" src="img/broadcasts-img-2-1920.jpg" srcset="img/broadcasts-img-2-1920.jpg" alt="Картинка к передачи 'Графомания td', человек за столом, печатающий на печатной машинке">
        </picture>
        <h3 class="broadcast-list__heading">
          Графомания td
        </h3>
        <p class="broadcast-list__descr">
          По понедельникам в 10:00
        </p>
        <a href="#" class="broadcast-list__link">
          Подробнее
          <svg class="broadcast-list__link-svg">
            <use xlink:href="img/sprite.svg#icon-link-arrow"></use>
          </svg>
        </a>
      </li>
      <li class="broadcasts-list__item">
        <picture>
          <source type="image/webp" srcset="img/broadcasts-img-3-320.webp" media="(max-width: 320px)">
          <source type="image/webp" srcset="img/broadcasts-img-3-1920.webp">
          <source srcset="img/broadcasts-img-3-320.jpg" media="(max-width: 320px)">
          <img class="archive__img" src="img/broadcasts-img-3-1920.jpg" srcset="img/broadcasts-img-3-1920.jpg" alt="Картинка к передачи 'Не Рим, не Троя', Колизей и 2 императора">
        </picture>
        <h3 class="broadcast-list__heading">
          Не Рим, не Троя
        </h3>
        <p class="broadcast-list__descr">
          По вторникам в 12:00
        </p>
        <a href="#" class="broadcast-list__link">
          Подробнее
          <svg class="broadcast-list__link-svg">
            <use xlink:href="img/sprite.svg#icon-link-arrow"></use>
          </svg>
        </a>
      </li>
      <li class="broadcasts-list__item">
        <picture>
          <source type="image/webp" srcset="img/broadcasts-img-4-320.webp" media="(max-width: 320px)">
          <source type="image/webp" srcset="img/broadcasts-img-4-1920.webp">
          <source srcset="img/broadcasts-img-4-320.jpg" media="(max-width: 320px)">
          <img class="archive__img" src="img/broadcasts-img-4-1920.jpg" srcset="img/broadcasts-img-4-1920.jpg" alt="Картинка к передачи 'Эрудит', абстракция с подписями качеств человека на английском языке">
        </picture>
        <h3 class="broadcast-list__heading">
          Эрудит
        </h3>
        <p class="broadcast-list__descr">
          По пятницам в 17:00
        </p>
        <a href="#" class="broadcast-list__link">
          Подробнее
          <svg class="broadcast-list__link-svg">
            <use xlink:href="img/sprite.svg#icon-link-arrow"></use>
          </svg>
        </a>
      </li>
      <li class="broadcasts-list__item">
        <picture>
          <source type="image/webp" srcset="img/broadcasts-img-5-320.webp" media="(max-width: 320px)">
          <source type="image/webp" srcset="img/broadcasts-img-5-1920.webp">
          <source srcset="img/broadcasts-img-5-320.jpg" media="(max-width: 320px)">
          <img class="archive__img" src="img/broadcasts-img-5-1920.jpg" srcset="img/broadcasts-img-5-1920.jpg" alt="Картинка к передачи 'Тонкости эпох', абстракция заяц на собакоподобном существе">
        </picture>
        <h3 class="broadcast-list__heading">
          Тонкости эпох
        </h3>
        <p class="broadcast-list__descr">
          По субботам в 10:00
        </p>
        <a href="#" class="broadcast-list__link">
          Подробнее
          <svg class="broadcast-list__link-svg">
            <use xlink:href="img/sprite.svg#icon-link-arrow"></use>
          </svg>
        </a>
      </li>
      <li class="broadcasts-list__item">
        <picture>
          <source type="image/webp" srcset="img/broadcasts-img-6-320.webp" media="(max-width: 320px)">
          <source type="image/webp" srcset="img/broadcasts-img-6-1920.webp">
          <source srcset="img/broadcasts-img-6-320.jpg" media="(max-width: 320px)">
          <img class="archive__img" src="img/broadcasts-img-6-1920.jpg" srcset="img/broadcasts-img-6-1920.jpg" alt="Картинка к передачи 'Живые мысли', ежик в черно-белом цвете">
        </picture>
        <h3 class="broadcast-list__heading">
          Живые мысли
        </h3>
        <p class="broadcast-list__descr">
          По воскресеньям в 15:30
        </p>
        <a href="#" class="broadcast-list__link">
          Подробнее
          <svg class="broadcast-list__link-svg">
            <use xlink:href="img/sprite.svg#icon-link-arrow"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
