<footer class="footer">
  <div class="footer__container container">
    <svg class="footer__logo-svg">
      <use xlink:href="img/sprite.svg#footer-logo"></use>
    </svg>
    <div class="footer__social-block">
      <svg class="footer__link-svg">
        <use xlink:href="img/sprite.svg#icon-youtube"></use>
      </svg>
      <svg class="footer__link-svg">
        <use xlink:href="img/sprite.svg#icon-odn"></use>
      </svg>
      <svg class="footer__link-svg">
        <use xlink:href="img/sprite.svg#icon-vk"></use>
      </svg>
    </div>
    <nav class="footer__nav nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#" class="nav__link">
            Подкасты
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            Передачи
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            Гости
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            Плейлисты
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            Сетка
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            О нас
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            Новости
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            Блоги
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            Топы
          </a>
        </li>
      </ul>
    </nav>

  </div>
</footer>
