<header class="header">
  <!-- <h1 class="visually-hidden">Радио W-Wawe</h1> -->
  <div class="header__top">
    <div class="header__container container">
      <a href="#" class="header__logo-link logo-link">
        <img loading="lazy" src="../img/logo.svg" alt="Логотип Радио W-Wawe">
      </a>
      <nav class="header__nav nav">
        <ul class="nav__list list-reset">
          <li class="nav__item">
            <a href="#" class="nav__link">
              Подкасты
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              Передачи
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              Гости
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              Плейлисты
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              О нас
            </a>
          </li>
        </ul>
      </nav>
      <div class="header__wrapper-button">
        <button class="header__button-search button-search btn-reset" aria-label="Поиска">
          <svg class="button-search__svg">
            <use xlink:href="img/sprite.svg#icon-search"></use>
          </svg>
        </button>
        <button class="header__button-enter button-enter btn-reset">
          Вход
        </button>
      </div>
    </div>
  </div>
  <div class="header__bottom header-bottom">
    <div class="header__container container">
        <ul class="header-bottom__list list-reset">
          <li class="header-bottom__item">
            <a href="#" class="header-bottom__link">
              Новости
            </a>
          </li>
          <li class="header-bottom__item">
            <a href="#" class="header-bottom__link">
              Блоги
            </a>
          </li>
          <li class="header-bottom__item">
            <a href="#" class="header-bottom__link">
              Топы
            </a>
          </li>
          <li class="header-bottom__item">
            <a href="#" class="header-bottom__link">
              Опросы
            </a>
          </li>
          <li class="header-bottom__item">
            <a href="#" class="header-bottom__link">
              Рейтинги
            </a>
          </li>
          <li class="header-bottom__item">
            <a href="#" class="header-bottom__link">
              Реклама
            </a>
          </li>
        </ul>
        <ul class="header-bottom__list-2 list-live list-reset">
          <li class="list-live__item">
            <button class="list-live__button btn-reset btn-play">
              <svg class="btn-play__svg">
                <use xlink:href="img/sprite.svg#icon-play"></use>
              </svg>
            </button>
            <div class="list-live__wrapper">
              <p class="list-live__heading">
                Ранее в эфире
              </p>
              <p class="list-live__song-name">
                «Музыка»
              </p>
            </div>
          </li>
          <li class="list-live__item">
            <button class="list-live__button btn-reset btn-play">
              <svg class="btn-play__svg">
                <use xlink:href="img/sprite.svg#icon-play"></use>
              </svg>
            </button>
            <div class="list-live__wrapper">
              <p class="list-live__heading">
                Сейчас в эфире
              </p>
              <p class="list-live__song-name">
                «Как так?»
              </p>
            </div>
          </li>
        </ul>
        <!-- <div class="header-bottom__img-block"> -->
          <svg class="header-bottom__svg">
            <use xlink:href="img/sprite.svg#icon-12+"></use>
          </svg>
        <!-- </div> -->
    </div>
  </div>
</header>
