<section class="hero offset">
  <div class="hero__container container">
    <div class="hero__wrapper">
      <h1 class="hero__title hero-title">
        <span class="hero-title__part1">Радио</span>
        <span class="hero-title__part2">W-Wave</span>
      </h1>
      <p class="hero__descr hero-descr">
        Привет, на связи W-Wave! Раньше мы были изданием, а теперь пробуем себя в разоворном жанре. Говорим о музыке, политике, истории, науке и культуре. Здесь, помимо прямого эфира — архив передач и многое другое:)
      </p>
      <a class="hero__btn btn btn-type-1" href="#">Слушать эфир</a>
    </div>
  </div>
</section>
