<section class="playlists" id="playlists">
  <div class="playlists__container container">
    <h2 class="playlists__title title">
      Плейлисты
    </h2>
    <div class="playlists__left-wrapper">
      <form action="#" class="playlists__form playlist-form">
        <h4 class="playlist-form__heading">
          Жанр
        </h4>
        <label class="playlist-form__label">
          <input type="checkbox" class="playlist-form__input">
          <span class="playlist-form__input-text">Постпанк</span>
        </label>
        <label class="playlist-form__label">
          <input type="checkbox" class="playlist-form__input">
          <span class="playlist-form__input-text">Хардкор</span>
        </label>
        <label class="playlist-form__label">
          <input type="checkbox" class="playlist-form__input">
          <span class="playlist-form__input-text">Панк-рок</span>
        </label>
        <label class="playlist-form__label">
          <input type="checkbox" class="playlist-form__input">
          <span class="playlist-form__input-text">Рок</span>
        </label>
        <label class="playlist-form__label">
          <input type="checkbox" class="playlist-form__input">
          <span class="playlist-form__input-text">Прогрессивный рок</span>
        </label>
        <label class="playlist-form__label">
          <input type="checkbox" class="playlist-form__input">
          <span class="playlist-form__input-text">Электронная музыка</span>
        </label>
        <label class="playlist-form__label">
          <input type="checkbox" class="playlist-form__input">
          <span class="playlist-form__input-text">Классическая музыка</span>
        </label>
        <label class="playlist-form__label">
          <input type="checkbox" class="playlist-form__input">
          <span class="playlist-form__input-text">Звуки природы и шум города</span>
        </label>
      </form>
      <div class="playlists__note-block">
        <p class="playlists__note-descr">
          Раздел «Плейлисты» может содержать информацию, не предназначенную для несовершеннолетних
        </p>
        <p class="playlists__note-logo">
          © 2021 l W-Wave
        </p>
        <div class="playlists__note-img">
          <svg class="playlists__note-svg">
            <use xlink:href="img/sprite.svg#icon-18+"></use>
          </svg>
        </div>
      </div>
    </div>
    <ul class="playlists__list playlist-list list-reset">
      <li class="playlist-list__item">
        <picture>
          <source type="image/webp" srcset="img/playlists_Ploho_1024.webp" media="(max-width: 1024px)">
          <source type="image/webp" srcset="img/playlists_Ploho_1920.webp">
          <source srcset="img/playlists_Ploho_1024.jpg" media="(max-width: 1024px)">
          <img class="playlist-list__img" src="img/playlists_Ploho_1920.jpg" srcset="img/playlists_Ploho_1920.jpg" alt="Группа Ploho">
        </picture>
        <h3 class="playlist-list__name">
          Ploho
        </h3>
        <p class="playlist-list__descr">
          3 последних альбома
        </p>
        <div class="playlist-list__country-flag">
          <svg class="playlist-list__flag-svg">
            <use xlink:href="img/sprite.svg#icon_Russia-flag"></use>
          </svg>
        </div>
      </li>
      <li class="playlist-list__item">
        <picture>
          <source type="image/webp" srcset="img/playlists_Molchat-Doma_1024.webp" media="(max-width: 1024px)">
          <source type="image/webp" srcset="img/playlists_Molchat-Doma_1920.webp">
          <source srcset="img/playlists_Molchat-Doma_1024.jpg" media="(max-width: 1024px)">
          <img class="playlist-list__img" src="img/playlists_Molchat-Doma_1920.jpg" srcset="img/playlists_Molchat-Doma_1920.jpg" alt="Группа Molchat-Doma">
        </picture>
        <h3 class="playlist-list__name">
          Molchat Doma
        </h3>
        <p class="playlist-list__descr">
          Все песни
        </p>
        <div class="playlist-list__country-flag">
          <svg class="playlist-list__flag-svg">
            <use xlink:href="img/sprite.svg#icon_Russia-flag"></use>
          </svg>
        </div>
      </li>
      <li class="playlist-list__item">
        <picture>
          <source type="image/webp" srcset="img/playlists_Motorama_1024.webp" media="(max-width: 1024px)">
          <source type="image/webp" srcset="img/playlists_Motorama_1920.webp">
          <source srcset="img/playlists_Motorama_1024.jpg" media="(max-width: 1024px)">
          <img class="playlist-list__img" src="img/playlists_Motorama_1920.jpg" srcset="img/playlists_Motorama_1920.jpg" alt="Группа Motorama">
        </picture>
        <h3 class="playlist-list__name">
          Motorama
        </h3>
        <p class="playlist-list__descr">
          Все синглы
        </p>
        <div class="playlist-list__country-flag">
          <svg class="playlist-list__flag-svg">
            <use xlink:href="img/sprite.svg#icon_Russia-flag"></use>
          </svg>
        </div>
      </li>
      <li class="playlist-list__item">
        <picture>
          <source type="image/webp" srcset="img/playlists_Human-Tetris_1024.webp" media="(max-width: 1024px)">
          <source type="image/webp" srcset="img/playlists_Human-Tetris_1920.webp">
          <source srcset="img/playlists_Human-Tetris_1024.jpg" media="(max-width: 1024px)">
          <img class="playlist-list__img" src="img/playlists_Human-Tetris_1920.jpg" srcset="img/playlists_Human-Tetris_1920.jpg" alt="Группа Human-Tetris">
        </picture>
        <h3 class="playlist-list__name">
          Human Tetris
        </h3>
        <p class="playlist-list__descr">
          3 последних альбома
        </p>
        <div class="playlist-list__country-flag">
          <svg class="playlist-list__flag-svg">
            <use xlink:href="img/sprite.svg#icon_Russia-flag"></use>
          </svg>
        </div>
      </li>
      <li class="playlist-list__item">
        <picture>
          <source type="image/webp" srcset="img/playlists_Buerak_1024.webp" media="(max-width: 1024px)">
          <source type="image/webp" srcset="img/playlists_Buerak_1920.webp">
          <source srcset="img/playlists_Buerak_1024.jpg" media="(max-width: 1024px)">
          <img class="playlist-list__img" src="img/playlists_Buerak_1920.jpg" srcset="img/playlists_Buerak_1920.jpg" alt="Группа Buerak">
        </picture>
        <h3 class="playlist-list__name">
          Buerak
        </h3>
        <p class="playlist-list__descr">
          Все EP
        </p>
        <div class="playlist-list__country-flag">
          <svg class="playlist-list__flag-svg">
            <use xlink:href="img/sprite.svg#icon_Russia-flag"></use>
          </svg>
        </div>
      </li>
      <li class="playlist-list__item">
        <picture>
          <source type="image/webp" srcset="img/playlists_July-Dags_1024.webp" media="(max-width: 1024px)">
          <source type="image/webp" srcset="img/playlists_July-Dags_1920.webp">
          <source srcset="img/playlists_July-Dags_1024.jpg" media="(max-width: 1024px)">
          <img class="playlist-list__img" src="img/playlists_July-Dags_1920.jpg" srcset="img/playlists_July-Dags_1920.jpg" alt="Группа Июльские Дни">
        </picture>
        <h3 class="playlist-list__name">
          Июльские Дни
        </h3>
        <p class="playlist-list__descr">
          Альбом «Колокол»
        </p>
        <div class="playlist-list__country-flag">
          <svg class="playlist-list__flag-svg">
            <use xlink:href="img/sprite.svg#icon_Russia-flag"></use>
          </svg>
        </div>
      </li>
      <li class="playlist-list__item">
        <picture>
          <source type="image/webp" srcset="img/playlists_Joy-Division_1024.webp" media="(max-width: 1024px)">
          <source type="image/webp" srcset="img/playlists_Joy-Division_1920.webp">
          <source srcset="img/playlists_Joy-Division_1024.jpg" media="(max-width: 1024px)">
          <img class="playlist-list__img" src="img/playlists_Joy-Division_1920.jpg" srcset="img/playlists_Joy-Division_1920.jpg" alt="Группа Joy-Division">
        </picture>
        <h3 class="playlist-list__name">
          Joy Division
        </h3>
        <p class="playlist-list__descr">
          Лучшее за всё время
        </p>
        <div class="playlist-list__country-flag">
          <svg class="playlist-list__flag-svg">
            <use xlink:href="img/sprite.svg#icon_GB-flag"></use>
          </svg>
        </div>
      </li>
      <li class="playlist-list__item">
        <picture>
          <source type="image/webp" srcset="img/playlists_The-Cure_1024.webp" media="(max-width: 1024px)">
          <source type="image/webp" srcset="img/playlists_The-Cure_1920.webp">
          <source srcset="img/playlists_The-Cure_1024.jpg" media="(max-width: 1024px)">
          <img class="playlist-list__img" src="img/playlists_The-Cure_1920.jpg" srcset="img/playlists_The-Cure_1920.jpg" alt="Группа The-Cure">
        </picture>
        <h3 class="playlist-list__name">
          The Cure
        </h3>
        <p class="playlist-list__descr">
          Лучшее за всё время
        </p>
        <div class="playlist-list__country-flag">
          <svg class="playlist-list__flag-svg">
            <use xlink:href="img/sprite.svg#icon_GB-flag"></use>
          </svg>
        </div>
      </li>
      <li class="playlist-list__item">
        <picture>
          <source type="image/webp" srcset="img/playlists_The-Smiths_1024.webp" media="(max-width: 1024px)">
          <source type="image/webp" srcset="img/playlists_The-Smiths_1920.webp">
          <source srcset="img/playlists_The-Smiths_1024.jpg" media="(max-width: 1024px)">
          <img class="playlist-list__img" src="img/playlists_The-Smiths_1920.jpg" srcset="img/playlists_The-Smiths_1920.jpg" alt="Группа The Smiths">
        </picture>
        <h3 class="playlist-list__name">
          The Smiths
        </h3>
        <p class="playlist-list__descr">
          Период <time datetime="1984">1984</time>&ndash;<time datetime="1988">1988</time>
        </p>
        <div class="playlist-list__country-flag">
          <svg class="playlist-list__flag-svg">
            <use xlink:href="img/sprite.svg#icon_GB-flag"></use>
          </svg>
        </div>
      </li>
      <li class="playlist-list__item">
        <picture>
          <source type="image/webp" srcset="img/playlists_New-Order_1024.webp" media="(max-width: 1024px)">
          <source type="image/webp" srcset="img/playlists_New-Order_1920.webp">
          <source srcset="img/playlists_New-Order_1024.jpg" media="(max-width: 1024px)">
          <img class="playlist-list__img" src="img/playlists_New-Order_1920.jpg" srcset="img/playlists_New-Order_1920.jpg" alt="Группа New Order">
        </picture>
        <h3 class="playlist-list__name">
          New Order
        </h3>
        <p class="playlist-list__descr">
          Хиты
        </p>
        <div class="playlist-list__country-flag">
          <svg class="playlist-list__flag-svg">
            <use xlink:href="img/sprite.svg#icon_GB-flag"></use>
          </svg>
        </div>
      </li>
      <li class="playlist-list__item">
        <picture>
          <source type="image/webp" srcset="img/playlists_Bauhaus_1024.webp" media="(max-width: 1024px)">
          <source type="image/webp" srcset="img/playlists_Bauhaus_1920.webp">
          <source srcset="img/playlists_Bauhaus_1024.jpg" media="(max-width: 1024px)">
          <img class="playlist-list__img" src="img/playlists_Bauhaus_1920.jpg" srcset="img/playlists_Bauhaus_1920.jpg" alt="Группа Bauhaus">
        </picture>
        <h3 class="playlist-list__name">
          Bauhaus
        </h3>
        <p class="playlist-list__descr">
          Все синглы
        </p>
        <div class="playlist-list__country-flag">
          <svg class="playlist-list__flag-svg">
            <use xlink:href="img/sprite.svg#icon_GB-flag"></use>
          </svg>
        </div>
      </li>
      <li class="playlist-list__item">
        <picture>
          <source type="image/webp" srcset="img/playlists_Gang-of-Four_1024.webp" media="(max-width: 1024px)">
          <source type="image/webp" srcset="img/playlists_Gang-of-Four_1920.webp">
          <source srcset="img/playlists_Gang-of-Four_1024.jpg" media="(max-width: 1024px)">
          <img class="playlist-list__img" src="img/playlists_Gang-of-Four_1920.jpg" srcset="img/playlists_Gang-of-Four_1920.jpg" alt="Группа Gang Of Four">
        </picture>
        <h3 class="playlist-list__name">
          Gang Of Four
        </h3>
        <p class="playlist-list__descr">
          3 последних альбома
        </p>
        <div class="playlist-list__country-flag">
          <svg class="playlist-list__flag-svg">
            <use xlink:href="img/sprite.svg#icon_GB-flag"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>
