<section class="podcascts" id="podcasts">
  <div class="container__podcasts container">
    <h2 class="podcasts__title title">
      Подкасты
    </h2>
    <ul class="podcasts__list podcasts-list list-reset">
      <li class="podcasts-list__item podcast">
        <picture>
          <source type="image/webp" srcset="img/podcasts-img-1-320.webp" media="(max-width: 320px)">
          <source type="image/webp" srcset="img/podcasts-img-1-1920.webp">
          <source srcset="img/podcasts-img-1-320.jpg" media="(max-width: 320px)">
          <img class="podcast__img" src="img/podcasts-img-1-1920.jpg" srcset="img/podcasts-img-1-1920.jpg" alt="Картинка к подкасту 'Европа. XIX век', пейзаж европейского города">
        </picture>
        <div class="podcast__wrapper">
          <time class="podcast__time">
            15:43
          </time>
          <h3 class="podcast__heading">
            Европа. XIX век
          </h3>
          <p class="podcast__author">
            Дмитрий Гутенберг
          </p>
          <buttom class="podcast__btn podcast-btn-play btn-reset">
            <svg class="podcast-btn-play__svg">
              <use xlink:href="img/sprite.svg#icon-play-2"></use>
            </svg>
          </buttom>
        </div>
        <div class="podcast__rating">
          <div class="podcast__views">
            <svg class="podcast__view-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-play"></use>
            </svg>
            <span class="podcast__views-count">258</span>
          </div>
          <div class="podcast__likes">
            <svg class="podcast__like-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-like"></use>
            </svg>
            <span class="podcast__likes-count">104</span>
          </div>
          <div class="podcast__share">
            <svg class="podcast__share-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-share"></use>
            </svg>
            <span class="podcast__view-count">104</span>
          </div>
        </div>
      </li>
      <li class="podcasts-list__item podcast">
        <picture>
          <source type="image/webp" srcset="img/podcasts-img-2-320.webp" media="(max-width: 320px)">
          <source type="image/webp" srcset="img/podcasts-img-2-1920.webp">
          <source srcset="img/podcasts-img-2-320.jpg" media="(max-width: 320px)">
          <img class="podcast__img" src="img/podcasts-img-2-1920.jpg" srcset="img/podcasts-img-2-1920.jpg" alt="Картинка к подкасту 'О музыке', музыкант со скрипкой">
        </picture>
        <div class="podcast__wrapper">
          <time class="podcast__time">
            5:32
          </time>
          <h3 class="podcast__heading">
            О музыке
          </h3>
          <p class="podcast__author">
            Дмитрий Гутенберг
          </p>
          <buttom class="podcast__btn podcast-btn-play btn-reset">
            <svg class="podcast-btn-play__svg">
              <use xlink:href="img/sprite.svg#icon-play-2"></use>
            </svg>
          </buttom>
        </div>
        <div class="podcast__rating">
          <div class="podcast__views">
            <svg class="podcast__view-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-play"></use>
            </svg>
            <span class="podcast__views-count">207</span>
          </div>
          <div class="podcast__likes">
            <svg class="podcast__like-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-like"></use>
            </svg>
            <span class="podcast__likes-count">34</span>
          </div>
          <div class="podcast__share">
            <svg class="podcast__share-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-share"></use>
            </svg>
            <span class="podcast__view-count">18</span>
          </div>
        </div>
      </li>
      <li class="podcasts-list__item podcast">
        <picture>
          <source type="image/webp" srcset="img/podcasts-img-3-320.webp" media="(max-width: 320px)">
          <source type="image/webp" srcset="img/podcasts-img-3-1920.webp">
          <source srcset="img/podcasts-img-3-320.jpg" media="(max-width: 320px)">
          <img class="podcast__img" src="img/podcasts-img-3-1920.jpg" srcset="img/podcasts-img-3-1920.jpg" alt="Картинка к подкасту 'Люди сегодня', толпа людей в городе">
        </picture>
        <div class="podcast__wrapper">
          <time class="podcast__time">
            8:54
          </time>
          <h3 class="podcast__heading">
            Люди сегодня
          </h3>
          <p class="podcast__author">
            Анна Васильева
          </p>
          <buttom class="podcast__btn podcast-btn-play btn-reset">
            <svg class="podcast-btn-play__svg">
              <use xlink:href="img/sprite.svg#icon-play-2"></use>
            </svg>
          </buttom>
        </div>
        <div class="podcast__rating">
          <div class="podcast__views">
            <svg class="podcast__view-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-play"></use>
            </svg>
            <span class="podcast__views-count">104</span>
          </div>
          <div class="podcast__likes">
            <svg class="podcast__like-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-like"></use>
            </svg>
            <span class="podcast__likes-count">54</span>
          </div>
          <div class="podcast__share">
            <svg class="podcast__share-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-share"></use>
            </svg>
            <span class="podcast__view-count">42</span>
          </div>
        </div>
      </li>
      <li class="podcasts-list__item podcast">
        <picture>
          <source type="image/webp" srcset="img/podcasts-img-4-320.webp" media="(max-width: 320px)">
          <source type="image/webp" srcset="img/podcasts-img-4-1920.webp">
          <source srcset="img/podcasts-img-4-320.jpg" media="(max-width: 320px)">
          <img class="podcast__img" src="img/podcasts-img-4-1920.jpg" srcset="img/podcasts-img-4-1920.jpg" alt="Картинка к подкасту 'Хэллоу, Африка!', жительница африки">
        </picture>
        <div class="podcast__wrapper">
          <time class="podcast__time">
            9:04
          </time>
          <h3 class="podcast__heading">
            Хэллоу, Африка!
          </h3>
          <p class="podcast__author">
            Пётр Дмитриевский
          </p>
          <buttom class="podcast__btn podcast-btn-play btn-reset">
            <svg class="podcast-btn-play__svg">
              <use xlink:href="img/sprite.svg#icon-play-2"></use>
            </svg>
          </buttom>
        </div>
        <div class="podcast__rating">
          <div class="podcast__views">
            <svg class="podcast__view-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-play"></use>
            </svg>
            <span class="podcast__views-count">87</span>
          </div>
          <div class="podcast__likes">
            <svg class="podcast__like-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-like"></use>
            </svg>
            <span class="podcast__likes-count">44</span>
          </div>
          <div class="podcast__share">
            <svg class="podcast__share-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-share"></use>
            </svg>
            <span class="podcast__view-count">5</span>
          </div>
        </div>
      </li>
      <li class="podcasts-list__item podcast">
        <picture>
          <source type="image/webp" srcset="img/podcasts-img-5-320.webp" media="(max-width: 320px)">
          <source type="image/webp" srcset="img/podcasts-img-5-1920.webp">
          <source srcset="img/podcasts-img-5-320.jpg" media="(max-width: 320px)">
          <img class="podcast__img" src="img/podcasts-img-5-1920.jpg" srcset="img/podcasts-img-5-1920.jpg" alt="Картинка к подкасту 'Обо всём', каменная скульптура">
        </picture>
        <div class="podcast__wrapper">
          <time class="podcast__time">
            7:03
          </time>
          <h3 class="podcast__heading">
            Обо всём
          </h3>
          <p class="podcast__author">
            Пётр Дмитриевский
          </p>
          <buttom class="podcast__btn podcast-btn-play btn-reset">
            <svg class="podcast-btn-play__svg">
              <use xlink:href="img/sprite.svg#icon-play-2"></use>
            </svg>
          </buttom>
        </div>
        <div class="podcast__rating">
          <div class="podcast__views">
            <svg class="podcast__view-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-play"></use>
            </svg>
            <span class="podcast__views-count">64</span>
          </div>
          <div class="podcast__likes">
            <svg class="podcast__like-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-like"></use>
            </svg>
            <span class="podcast__likes-count">30</span>
          </div>
          <div class="podcast__share">
            <svg class="podcast__share-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-share"></use>
            </svg>
            <span class="podcast__view-count">8</span>
          </div>
        </div>
      </li>
      <li class="podcasts-list__item podcast">
        <picture>
          <source type="image/webp" srcset="img/podcasts-img-6-320.webp" media="(max-width: 320px)">
          <source type="image/webp" srcset="img/podcasts-img-6-1920.webp">
          <source srcset="img/podcasts-img-6-320.jpg" media="(max-width: 320px)">
          <img class="podcast__img" src="img/podcasts-img-6-1920.jpg" srcset="img/podcasts-img-6-1920.jpg" alt="Картинка к подкасту 'Физика цвета', разноцветная абстракция">
        </picture>
        <div class="podcast__wrapper">
          <time class="podcast__time">
            9:15
          </time>
          <h3 class="podcast__heading">
            Физика цвета
          </h3>
          <p class="podcast__author">
            Татьяна Флеганова
          </p>
          <buttom class="podcast__btn podcast-btn-play btn-reset">
            <svg class="podcast-btn-play__svg">
              <use xlink:href="img/sprite.svg#icon-play-2"></use>
            </svg>
          </buttom>
        </div>
        <div class="podcast__rating">
          <div class="podcast__views">
            <svg class="podcast__view-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-play"></use>
            </svg>
            <span class="podcast__views-count">58</span>
          </div>
          <div class="podcast__likes">
            <svg class="podcast__like-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-like"></use>
            </svg>
            <span class="podcast__likes-count">29</span>
          </div>
          <div class="podcast__share">
            <svg class="podcast__share-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-share"></use>
            </svg>
            <span class="podcast__view-count">14</span>
          </div>
        </div>
      </li>
      <li class="podcasts-list__item podcast">
        <picture>
          <source type="image/webp" srcset="img/podcasts-img-7-320.webp" media="(max-width: 320px)">
          <source type="image/webp" srcset="img/podcasts-img-7-1920.webp">
          <source srcset="img/podcasts-img-7-320.jpg" media="(max-width: 320px)">
          <img class="podcast__img" src="img/podcasts-img-7-1920.jpg" srcset="img/podcasts-img-7-1920.jpg" alt="Картинка к подкасту 'Источник звука',  график звуковых волн - эквалайзер">
        </picture>
        <div class="podcast__wrapper">
          <time class="podcast__time">
            16:04
          </time>
          <h3 class="podcast__heading">
            Источник звука
          </h3>
          <p class="podcast__author">
            Пётр Дмитриевский
          </p>
          <buttom class="podcast__btn podcast-btn-play btn-reset">
            <svg class="podcast-btn-play__svg">
              <use xlink:href="img/sprite.svg#icon-play-2"></use>
            </svg>
          </buttom>
        </div>
        <div class="podcast__rating">
          <div class="podcast__views">
            <svg class="podcast__view-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-play"></use>
            </svg>
            <span class="podcast__views-count">55</span>
          </div>
          <div class="podcast__likes">
            <svg class="podcast__like-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-like"></use>
            </svg>
            <span class="podcast__likes-count">20</span>
          </div>
          <div class="podcast__share">
            <svg class="podcast__share-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-share"></use>
            </svg>
            <span class="podcast__view-count">12</span>
          </div>
        </div>
      </li>
      <li class="podcasts-list__item podcast">
        <picture>
          <source type="image/webp" srcset="img/podcasts-img-8-320.webp" media="(max-width: 320px)">
          <source type="image/webp" srcset="img/podcasts-img-8-1920.webp">
          <source srcset="img/podcasts-img-8-320.jpg" media="(max-width: 320px)">
          <img class="podcast__img" src="img/podcasts-img-8-1920.jpg" srcset="img/podcasts-img-8-1920.jpg" alt="Картинка к подкасту 'Правила этикета', дама и мужчина за столом">
        </picture>
        <div class="podcast__wrapper">
          <time class="podcast__time">
            6:55
          </time>
          <h3 class="podcast__heading">
            Правила этикета
          </h3>
          <p class="podcast__author">
            Татьяна Флеганова
          </p>
          <buttom class="podcast__btn podcast-btn-play btn-reset">
            <svg class="podcast-btn-play__svg">
              <use xlink:href="img/sprite.svg#icon-play-2"></use>
            </svg>
          </buttom>
        </div>
        <div class="podcast__rating">
          <div class="podcast__views">
            <svg class="podcast__view-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-play"></use>
            </svg>
            <span class="podcast__views-count">24</span>
          </div>
          <div class="podcast__likes">
            <svg class="podcast__like-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-like"></use>
            </svg>
            <span class="podcast__likes-count">54</span>
          </div>
          <div class="podcast__share">
            <svg class="podcast__share-svg">
              <use xlink:href="img/sprite.svg#icon_podcast-share"></use>
            </svg>
            <span class="podcast__view-count">42</span>
          </div>
        </div>
      </li>
    </ul>
    <button class="podcasts__buttom-more btn btn-reset">
      Ещё подкасты
    </button>
  </div>
</section>
