<section class="promotion" id="promotion">
  <div class="promotion__container container">
    <div class="promotion__img-block">
      <picture>
        <source type="image/webp" srcset="img/advertising-sale-bg-320.webp" media="(max-width: 320px)">
        <source type="image/webp" srcset="img/advertising-sale-bg-768.webp" media="(max-width: 768px)">
        <source type="image/webp" srcset="img/advertising-sale-bg-1920.webp">
        <source srcset="img/advertising-sale-bg-320.jpg" media="(max-width: 320px)">
        <source srcset="img/advertising-sale-bg-768.jpg" media="(max-width: 768px)">
        <img class="promotion__product-img" src="img/advertising-sale-bg-1920.jpg" srcset="img/advertising-sale-bg-1920.jpg" alt="Картинка к передачи 'Живые мысли', ежик в черно-белом цвете">
      </picture>
      <svg class="promotion__svg">
        <use xlink:href="img/sprite.svg#icon-new"></use>
      </svg>
    </div>
    <div class="promotion__content-block">
      <h2 class="promotion__title title">
        Будь с нами на одной волне!
      </h2>
      <svg class="promotion__wave-svg">
        <use xlink:href="img/sprite.svg#icon-line-wave-short"></use>
      </svg>
      <p class="promotion__descr">
        Друзья, рады представить вам продукт нашего производства! Да-да, несмотря на то, что мы только начали свой путь радиовещателей, нам хочется, чтобы вы могли как следует нас расслышать:)
      </p>
      <p class="promotion__descr">
        Итак, встречайте! Портативный радиоприёмник-колонка W-Wave 1.0 xm. Тщательный подбор всех делатей, ручная сборка, качественный звук. Пока доступно только 60 штук в 3 цветах, но мы активно трудимся над новыми партиями и дизайном. Спешите приобрести!
      </p>
      <div class="promotion__price">
        2 800 ₽
      </div>
      <a href="#" class="promotion__link buy-link">
        <svg class="buy-link__svg">
          <use xlink:href="img/sprite.svg#icon-buy"></use>
        </svg>
       <span class="buy-link__text">Купить на Яндекс.Маркет</span>
      </a>
    </div>

  </div>
</section>
