<section class="guests" id="guests">
  <div class="guests__container container">
    <h2 class="guests__title title">
      Гости
    </h2>
    <h4 class="guests__subtitle">
      У нас бывают:
    </h4>
    <p class="guests__descr">
      Блогеры, арт-критики и деятели искусства, музыканты, молодые учёные и люди науки, историки, филологи и много других интересных гостей!
    </p>
    <div class="guests__accordion-block accordion-block">
      <ul class="accordion-block__list accordion-list list-reset">
        <li class="accordion-list__item accordion">
          <button class="accordion__btn accordion-btn btn-reset">
            <div class="accordion-btn__name">
              Блогеры
            </div>
          </button>
          <div class="accordion__content">
            <ul class="accordion__content-list list-reset tabs-nav">
              <li class="accordion__content-item tans-nav__item">
                <button class="accordion__content-btn tabs-nav__btn btn-reset">
                  Сергей Денисов
                </button>
              </li>
              <li class="accordion__content-item tans-nav__item">
                <button class="accordion__content-btn tabs-nav__btn btn-reset">
                  Матвей Мечников
                </button>
              </li>
              <li class="accordion__content-item tans-nav__item">
                <button class="accordion__content-btn tabs-nav__btn btn-reset">
                  Константин Прусино
                </button>
              </li>
              <li class="accordion__content-item tans-nav__item">
                <button class="accordion__content-btn tabs-nav__btn btn-reset">
                  Иван Калитников
                </button>
              </li>
              <li class="accordion__content-item tans-nav__item">
                <button class="accordion__content-btn tabs-nav__btn btn-reset">
                  Евгений Войновский
                </button>
              </li>
              <li class="accordion__content-item tans-nav__item">
                <button class="accordion__content-btn tabs-nav__btn btn-reset">
                  Ольга Мартынова
                </button>
              </li>
              <li class="accordion__content-item tans-nav__item">
                <button class="accordion__content-btn tabs-nav__btn btn-reset">
                  Дмитрий Михалок
                </button>
              </li>
              <li class="accordion__content-item tans-nav__item">
                <button class="accordion__content-btn tabs-nav__btn btn-reset">
                  Пётр Пиотровский
                </button>
              </li>
              <li class="accordion__content-item tans-nav__item">
                <button class="accordion__content-btn tabs-nav__btn btn-reset">
                  Олег Свиридовский
                </button>
              </li>
              <li class="accordion__content-item tans-nav__item">
                <button class="accordion__content-btn tabs-nav__btn btn-reset">
                  Владислав Кауперс
                </button>
              </li>
              <li class="accordion__content-item tans-nav__item">
                <button class="accordion__content-btn tabs-nav__btn btn-reset">
                  Михаил Пожитников
                </button>
              </li>
              <li class="accordion__content-item tans-nav__item">
                <button class="accordion__content-btn tabs-nav__btn btn-reset">
                  Георгий Полуян
                </button>
              </li>
              <li class="accordion__content-item tans-nav__item">
                <button class="accordion__content-btn tabs-nav__btn btn-reset">
                  Денис Тельман
                </button>
              </li>
              <li class="accordion__content-item tans-nav__item">
                <button class="accordion__content-btn tabs-nav__btn btn-reset">
                  Юрий Горин
                </button>
              </li>
              <li class="accordion__content-item tans-nav__item">
                <button class="accordion__content-btn tabs-nav__btn btn-reset">
                  Максим Сергеев
                </button>
              </li>
            </ul>
          </div>
        </li>
        <li class="accordion-list__item accordion">
          <button class="accordion__btn accordion-btn btn-reset">
            <div class="accordion-btn__name">
              Арт-критики
            </div>
            <svg class="btn-play__svg">
              <use xlink:href="img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </li>
        <li class="accordion-list__item accordion">
          <button class="accordion__btn accordion-btn btn-reset">
            <div class="accordion-btn__name">
              Художники
            </div>
            <svg class="btn-play__svg">
              <use xlink:href="img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </li>
        <li class="accordion-list__item accordion">
          <button class="accordion__btn accordion-btn btn-reset">
            <div class="accordion-btn__name">
              Люди науки
            </div>
            <svg class="btn-play__svg">
              <use xlink:href="img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </li>
        <li class="accordion-list__item accordion">
          <button class="accordion__btn accordion-btn btn-reset">
            <div class="accordion-btn__name">
              Историки
            </div>
            <svg class="btn-play__svg">
              <use xlink:href="img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </li>
        <li class="accordion-list__item accordion">
          <button class="accordion__btn accordion-btn btn-reset">
            <div class="accordion-btn__name">
              Филологи
            </div>
            <svg class="btn-play__svg">
              <use xlink:href="img/sprite.svg#icon-arrow-down"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
    <div class="guests__content-block content-block">
      <article class="guests__article guest-article">
        <picture>
          <source type="image/webp" srcset="img/guest_1-img-320.webp" media="(max-width: 320px)">
          <source type="image/webp" srcset="img/guest_1-img-768.webp" media="(max-width: 768px)">
          <source type="image/webp" srcset="img/guest_1-img-1024.webp" media="(max-width: 1024px)">
          <source type="image/webp" srcset="img/guest_1-img-1920.webp">
          <source srcset="img/guest_1-img-320.jpg" media="(max-width: 320px)">
          <source srcset="img/guest_1-img-768.jpg" media="(max-width: 768px)">
          <source srcset="img/guest_1-img-1024.jpg" media="(max-width: 1024px)">
          <img class="guests-article__img" src="img/guest_1-img-1920.jpg" srcset="img/guest_1-img-1920.jpg" alt="Гость - Ольга Мартынова, арт-критик">
        </picture>
        <div class="guest-article__social-link">
          <svg class="guests-article__instagram-svg">
            <use xlink:href="img/sprite.svg#icon-instagram"></use>
          </svg>
          <svg class="guests-article__facebook-svg">
            <use xlink:href="img/sprite.svg#icon-fb"></use>
          </svg>
          <svg class="guests-article__twitter-svg">
            <use xlink:href="img/sprite.svg#icon-twitter"></use>
          </svg>
        </div>
        <h4 class="guest-article__name">
          Ольга Мартынова
        </h4>
        <div class="guest-article__descr">
          Российский искусствовед, арт-критик, куратор выставок, дизайнер, кандидат культурологии. Арт-критик газеты «Коммерсантъ». Ведёт активную блогерскую деятельность как куратор музея «Гараж», коим является с 2016 года.
        </div>
        <a href="#" class="guest-article__live-link">
          Эфиры с гостем
        </a>

      </article>

    </div>
  </div>
</section>
