html {
	box-sizing: border-box;
  // scroll-behavior: smooth;
  // scroll-padding-top: 20px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}


.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  font-weight: 400;
  color: var(--text-black-color);
  // overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0 );
  overflow: hidden;
}


.btn {
  padding: 25px 54px;
  border-radius: 40px;
}

.btn-type-1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.offset {
  padding: 94px 0;
}


.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
}

// .desc {
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 22px;
//   color: var(--black-color);
// }


