:root {
  --font-family: "Muller", "OpenSans", sans-serif;

  // colors
  --blue-color:  #0039A6;
  --red-color: #D52B1E;
  --violet-dark-color: #4F28A5;
  --violet-medium-color: #6D31EE;
  --violet-light-color: #AA9DFA;
  --gold-accent-color: #BB973E;
  --gold-light-color: #F0D288;
  --white-color: #FFFFFF;
  --white-light-color: #F5F6F7;
  --gray-color:#D2D5DD;
  --gray-ui-color:  #E6E8EC;
  --bg-color: #292E39;
  --text-gray-color: #A1A6B4;
  --text-black-color: #121723;
}
